.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: rgb(7, 6, 36);
    width: 100%;
    position: absolute;
    
    
    
}
.logo {
    size: 100vw;
    cursor: pointer;
    margin: 5px 5px 5px 10px;
    width: 52px;
    height: 50px;
    border-radius: 12px;
    object-fit: contain;
    box-shadow: 0 1px 3px 1px white;
}

  h1 {
    
    padding-top: 5px;
    padding-left: 1px;
    height: 44px;
    font-size: xx-large;
    font-weight: 500;
    color: white;
  }

h1 span {
    color: rgb(209, 156, 11);
}
.icon {
    color: white;
    margin-top: 14px;
}
.icon1 {
    color: rgb(209, 156, 11);
    margin-top: 14px;
}
.nomesheader {
    display: flex;
    padding-left: 2rem;
}
.icon2 {
  margin-right: 1px;  
  border: none;
}


