.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: rgb(7, 6, 36);
    width: 100vw;
}
.logo {
    size: 100vw;
    
    margin: 5px 10px;
    width: 52px;
    height: 50px;
    border-radius: 12px;
    object-fit: contain;
    box-shadow: 0 1px 3px 1px white;
}
#categorias button {
    border: 2px solid rgb(202, 199, 199);
    border-radius: 5px;
    width: 90px;
    height: 35px;
    background: rgb(19, 17, 71);
    cursor: pointer;
    user-select: none;
    color: white;
    margin: 13px;
    font-weight: 600;
}
#categorias :hover {
    border: 2px solid rgb(77, 71, 160);
    background-color: rgb(15, 15, 43);
    color: rgb(125, 122, 169);
  }
  h1 {
    font-size: 2rem;
    padding: 7px;
    padding-left: 16px;
    height: 44px;
    font-size: xx-large;
    font-weight: 500;
    color: white;
  }

h1 span {
    color: rgb(209, 156, 11);
}



