.category {
    width: 100%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
}
.top {
    padding-bottom: 1rem;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 1rem;
}
